In [55]:
import pandas as pd

In [56]:
ds=pd.read_csv('master - Copy.csv',encoding="ISO-8859-1")
ds = pd.DataFrame(ds, columns=['Horse ID',	'Price_Back_1',	'Price_Lay_1',	'Horse Volume %'])
ds.head()

   Horse ID  Price_Back_1  Price_Lay_1  Horse Volume %
0   8887142           9.6         10.5       11.826329
1  54944458          21.0         42.0        1.765641
2     15233          18.0         26.0        1.680766
3  18670569           9.6         11.0        3.929358
4  55345341           5.7          6.6       12.510510

In [57]:
ds.isna().sum()

Horse ID          0
Price_Back_1      0
Price_Lay_1       0
Horse Volume %    0
dtype: int64

In [58]:
ds.shape

(1488, 4)

In [59]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Horse ID        1488 non-null   int64
 1   Price_Back_1    1488 non-null   float64
 2   Price_Lay_1     1488 non-null   float64
 3   Horse Volume %  1488 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 46.6 KB

In [60]:
# ds=ds.drop(axis=1,labels=['Horse ID'])

In [61]:
ds.head()

   Horse ID  Price_Back_1  Price_Lay_1  Horse Volume %
0   8887142           9.6         10.5       11.826329
1  54944458          21.0         42.0        1.765641
2     15233          18.0         26.0        1.680766
3  18670569           9.6         11.0        3.929358
4  55345341           5.7          6.6       12.510510

In [62]:
ds.shape

(1488, 4)

In [63]:
data=ds.iloc[:,:-1]
target=ds['Horse Volume %']

In [72]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
X, y = make_regression(n_features=4, n_informative=2)
regr = AdaBoostRegressor(random_state=0, n_estimators=100)
regr.fit(X, y)
print(regr.predict([['15','305155','81.53115509','41.7111954']]))
print('Accuracy:',regr.score(X, y))

[192.5361458]
Accuracy: 0.9614949883387853